	@font-face { /* Load the new "chalk" font */
		font-family: ChalkLetters;
		src: url(../fonts/Sketchy.ttf); 
	}
	 
	body {
		background-color: #c6c6c6;
		font-family: ChalkLetters, arial, sans-serif;
		color: #438EFF;
	}

	/*** Main Area ***/
	
	#bodyarea {
		background-color: #ffffff;
		width: 85%;
		/*padding: 30px;*/
		padding: 30px 0px;
		margin: 20px auto;
		box-shadow: 10px 8px 10px #888888;
		text-align: center;
		
	}

	#bodyarea div {
		display: inline-block;
	}

	.introColumn {
		max-width: 650px;
		vertical-align: top;
		margin: 1em;
	}

	#introText p {
		text-align: left;
	}
	
    /*** Footer ***/

   	#footer {
		margin-top: 30px;
		text-align: center;
	}
	
	a:link {
	    color: #438EFF;
	}
	
	a:visited {
	    color: #438EFF;
	}
	
	a:hover {
	    color: #438EFF;
		text-shadow: 0 0 4px #6699FF;
	}
	
	a:active {
	    color: #438EFF;
	}
    
    button{
        font-size: 30;
    }
    
    td.calendar{
        font-size : 30;
        color : blue;
    }
    
    td.calendar_weeks{
        font-size : 30;
        color : #438EFF;
    }
    
    td.event{
        font-size : 30;
        color : red;
    }
    a.event{
        font-size : 30;
        color : red;
    }


	/**** 404/Error ****/

	.smallbody {
		text-align: center;
		max-width: 40%;
		min-height: 400px;
		background-color: #ffffff;
		padding: 60px 30px 30px 30px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 10px 8px 10px #888888
	}

	#body404 h1 {
		font-style: oblique;
	}

	/**** Header ****/
	#header{
		height: 50px;
		background-color: #696969;
		position: relative;
		display: block;
		font-size: 35px;
		padding: 25px 10px 0px 10px;
		border-radius: 10px;
	}
	
	#logo{
		margin-top: -14px; 
		display: inline-block;
		float: left;
		color: #438EFF;
		margin-left: 15px;
		text-decoration: none;
	}
	
	#logo a:hover{
		text-shadow: 0 0 12px #505050;
		text-decoration: none;
	}
	
	#logo a {
		text-decoration: none;
	}
	
	#loginDiv {
		margin-top: -6px; 
		display: inline-block;
		float: right;
		font-size: 23;
		margin-right: 15px;
		text-decoration: none;
	}
	
	#loginDiv a:hover{
		text-shadow: 0 0 12px #505050;
		text-decoration: none;
	}
	
	#loginDiv a {
		text-decoration: none;
	}
