	@font-face { /* Load the new "chalk" font */
	font-family: ChalkLetters;
	src: url(../fonts/SqueakyChalkSound.ttf); 
	} 
	body {
		background-color: #c6c6c6;
	}
    #div-body1{
		background-color:#c6c6c6;
    }
    #table-body1{
        margin-left:auto;
        margin-right:auto;
		background-color: #c6c6c6;
    }
    td.body1{
        color: #438EFF;
        font-size: 30;
        font-family: ChalkLetters, arial;
        padding: 3px;
        margin: 2px;
        border: 2px solid #438EFF;
        text-align:center;
        width: 600px;
        background-color:#c6c6c6;
    }
    td.body2{
        color: #438EFF;
        font-size: 20;
        font-family: ChalkLetters, arial;
        padding: 3px;
        margin: 2px;
        border: 2px solid #438EFF;
        text-align:left;
        width: 600px;
        background-color:#c6c6c6;
    }
