	@font-face { /* Load the new "chalk" font */
		font-family: ChalkLetters;
		src: url(../fonts/SqueakyChalkSound.ttf); 
	}
	 
	body {
		background-color: #c6c6c6;
		font-family: ChalkLetters, arial, sans-serif;
		color: #438EFF;
	}
	
	#bodyarea {
		background-color: #ffffff;
		width: 85%;
		padding: 30px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 10px 8px 10px #888888;
		
	}

	#footer {
		margin-top: 30px;
	}
	
    .introbodytable {
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 15px;
    	max-width: 600px;
    }
    
    .introbodytable th {
    	text-align: center;
    	border: 2px solid #438EFF;
    }
    
    .introbodytable td {
        font-size: 20;
        padding: 3px;
        margin: 2px;
        border: 2px solid #438EFF;
    }
    
    #footerAbout {
    	text-align: center;
    }

	a:link {
	    color: #438EFF;
	}
	
	a:visited {
	    color: #438EFF;
	}
	
	a:hover {
	    color: #438EFF;
	}
	
	a:active {
	    color: #438EFF;
	}


	/**** 404/Error ****/

	.smallbody {
		text-align: center;
		max-width: 40%;
		min-height: 400px;
		background-color: #ffffff;
		padding: 60px 30px 30px 30px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 10px 8px 10px #888888
	}

	#body404 h1 {
		font-style: oblique;
	}

	/**** Header ****/

	a.coloredLink {
    	color: inherit; /* Set the link to inherit the original color */
		text-decoration: none;
	}
	
	#header{
		height: 50px;
		background-color: #696969;
		position: relative;
		display: block;
		padding: 25px 10px 0px 10px;
	}
	
	#logo{
		display: inline-block;
		float: left;
		font-size: 60;
		text-decoration: underline;
		color: #438EFF;
	}
	
	#loginDiv {
		display: inline-block;
		float: right;
		margin-right: 15px;
	}
	
	#teacherLogin{
		position: absolute;
		top: 25px;
		left: 1070px;
		padding: 3px;
		border: 2px solid #438EFF;
		font-family: ChalkLetters;
		font-size: 20;
		color: #438EFF;
	}
	
	#studentLogin{
		position: absolute;
		top: 80px;
		left: 1070px;
		padding: 3px;
		border: 2px solid #438EFF;
		font-family: ChalkLetters;
		font-size: 20;
		color: #438EFF;
	}