		
	<div id="bodyarea">
		<table class="introbodytable" id="ta-body-table">
		    <th>Teaching Assistants</th>
		    <tr>
		        <td>
		            The teaching assistant role enables the user to create a class page, upload documents, manage calander information,set visibility of documents, assign grades, and invite students to join a class.
		        </td>    
		    </tr>
		</table>
		<table class="introbodytable" id="students-body-table">
		    <th>Students</th>
		    <tr>
		        <td>
		            The student role enables the user to join/view class pages, upload documents, and view calander info.
		        </td>
		    </tr>
		</table>
	</div>