<div id="footer">
	<link rel="stylesheet" type="text/css" href="../css/style.css"
	<div id="footerImg"><a href="/index">
		<img style="width:403px;height:64px;border:1px;" src="/images/logo.jpg"></a>
	</div>
	<div id="footerAbout">
		<a href="/index">HOME</a> |
		<a href="/about">ABOUT</a> |
		<a href="/login">SIGNUP/LOGIN</a>
	</div>
	<div id="footerText">
		Chalkboard is a simple, streamlined solution for interaction between faculty, teaching assistants (TAs) and students. Copyright 1999-2014 by CHALKBOARD, Inc. All Rights Reserved.
	</div>
</div>
