{% extends "base.html" %}
	{% block bodycontent %}
		<div id="bodyarea">
			<div id="introText" class="introColumn">
				<h1>{{course_name}} </h1>
				<h2><u>{{course_number}}</h2></u>
                <br>
                <h3>{{instructor}}</h3>
                <h3>{{email}}</h3>
                <br>
                <h3>{{university}}</h3>
                <h3>{{department}}</h3>
                <br>
                <h3>{{semester}}</h3>
                <h3>{{year}}</h3>
			</div>
		</div>
	{% endblock %}
