{% extends "base.html" %}
	{% block bodycontent %}
		<div id="bodyarea">
			<div id="introText" class="introColumn">
				<h2>From this page, the instructor can perform the following functions: </h2>
				<br>
				<h3>
				<a href="">Manage Students</a><br>
				<a href="/documents">Upload Documents</a><br>
				<a href="">Manage Calendar</a><br>
				<a href="">Manage Syllabus</a><br><br><br>
				<a href="">Select a Different Course to Edit</a>
				</ul>
				</h3>
			</div>
		</div>
	{% endblock %}
