{% extends "base.html" %}
	{% block bodycontent %}		
		<div id="bodyarea">
			<div id="introText" class="introColumn">
				<h1>Instructor</h1>
				<h3>From this page, the instructor can perform the following functions:
				<br>
				<ul>
				  <li><a href="">Edit Profile</a></li>
				  <li><a href="">Manage Students</a></li>
				  <li><a href="">Upload Documents</a></li>
				  <li><a href="">Manage Calander</a></li>
				  <li><a href="">Manage Syllabus</a></li>
				</ul>
			</div>
		</div>
	{% endblock %}
