{% extends "base.html" %}
	{% block bodycontent %}
		<div id="bodyarea">
			<a href="{{logout}}">Click Here to sign out.</a>
		
			<div id="introText" class="introColumn">
				<h1>New Course Page</h1>
				<h3>Creating a course is simple. We just need some info from you:</h3>
				<br>
				<form method="post" action="/instructor">
					Course Name: <input type="text" name="course"><br>
					Course Number: <input type="number" name="number"><br>
					Instructor Name: <input type="text" name="name"><br>
					Instructor Email: <input type="text" name="email"><br>
					University: <input type="text" name="university"><br>
					Department: <input type="text" name="department"><br>
					Semester: <input type="text" name ="semester"><br>
					Year: <input type="number" name="year"><br>
					<input type="submit" value="Create Course">
				</form>
			</div>
		</div>
	{% endblock %}
