{% extends "base.html" %}
	{% block bodycontent %}
		<div id="bodyarea">
			Hello, {{nickname}}! <br>
			<a href="{{logout}}">Click Here to sign out.</a>
		
			<div id="introText" class="introColumn">
				<h1>New Course Page</h1>
				<h3>Creating a course is simple. We just need some info from you:</h3>
				<br>
				<form method="post" action="/instructor">
					Course Name: <input type="text" name="course"><br>
					Instructor Name: <input type="text" name="name"><br>
					Instructor Email: <input type="text" name="email"><br>
					<input type="submit">
				</form>
			</div>
		</div>
	{% endblock %}
