{% extends "base.html" %}
	{% block bodycontent %}
		<div id="bodyarea">
			Hello, {{nickname}}! <br>
			<a href="{{logout}}">Click Here to sign out.</a>
		
			<div id="uploadText" class="uploadstuff">
				<h1>{{course}}</h1>
				<h3>Please select the files you wish to upload:</h3>
				<br><form action="%s" method="POST" enctype="multipart/form-data">
				<p> Upload File: <input type="file" name="file"><br><input type="submit" name="submit" value="Submit"</form></p>
				<br>
				</div>
		</div>
	{% endblock %}
